@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


:root {
  --main-color: #e84242;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  transition: .2s ease;
  font-family: "Poppins", "sans-serif";
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: .8rem;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 3rem;
  }
}



body {
  background-color: var(--main-color);
}

section {
  padding: 3.5rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--black-color);

  &:hover {
    opacity: .9;
  }
}

.search-input {
  font-size: 1.6rem;
  color: var(--black-color);
  padding: 1rem;
  text-transform: none;
  border-radius: 3rem;
}

/* ! header start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;

  .logo img {
    height: 10rem;
  }

  .navbar {

    & a {
      margin: 0 1rem;
      font-size: 1.6rem;
      color: var(--black-color);
      border-bottom: 0.1rem solid transparent;

      &:hover {
        border-color: var(--main-color);
        padding-bottom: 0.5rem;

      }
    }

    .active {
      border-color: var(--main-color);
      padding-bottom: 0.5rem;
    }
  }

  .buttons {
    & button {
      cursor: pointer;
      font-size: 2.5rem;
      margin-left: 2rem;
      background-color: transparent;

      &:last-child {
        display: none;
      }
    }
  }
}

/* ! header end */

/* !home start */
.home {
  min-height: 100vh;
  background: url(./images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;

  .content {
    max-width: 60rem;

    & h3 {
      font-size: 6rem;
      color: #fff;
    }

    & p {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.8;
      padding: 1rem;
      color: #ccc;
    }

  }
}

/* !home end */

/* ! Menu Section Start */
.menu {
  & h1 {
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: .1rem solid #fff;

    & span {
      text-transform: uppercase;
      color: var(--black-color);
    }
  }

  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
      padding: 3rem;
      background-color: #fff;
      border-radius: 3rem;
      min-height: 60rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .box-head {
        .menu-catagory {
          font-size: 1.2rem;
        }

        & h3 {
          font-size: 3rem;
          padding: 1rem 0;
        }

        & img {
          width: 100%;
          object-fit: cover;
        }

        .price {
          font-size: 2.5rem;
          padding: .5rem 0;

          & span {
            text-decoration: line-through;
            font-size: 1.5rem;
            font-weight: 300;
          }
        }

      }
    }
  }
}

/* ! Menu Section End */
/* ! Product Section Start */
.our-product {
  & h1 {
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: .1rem solid #fff;

    & span {
      text-transform: uppercase;
      color: var(--black-color);
    }
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .product-card {
      &:nth-child(1) {
        background-image: url(./images/product-1.png);
      }

      &:nth-child(2) {
        background-image: url(./images/product-2.png);
      }

      min-height: 60rem;
      padding: 2rem;
      background-color: #fff;
      border-radius: 3rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;


      &:nth-child(3) {
        background-image: url(./images/dark-product.jpg);
        color: #fff;
        background-size: cover;
      }

      .product-card-header {
        & span {
          font-size: 1.2rem;
          color: #807f7f;
        }

        & h3 {
          font-size: 4rem;
          padding: 1rem 0;
        }

      }

      .product-card-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .price-article {
          .price {
            font-size: 4rem;
            font-weight: bold;
            overflow: anywhere;
          }

          & span {
            font-size: 1.4rem;
          }
        }

        .product-btn {
          height: 6rem;
          width: 6rem;
          border-radius: 50%;
          border: .1rem solid var(--main-color);
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--main-color);
          cursor: pointer;
        }
      }
    }
  }
}


/* ! Product Section End */

/* ! About Section Start  */
.about-section {
  & h1 {
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: .1rem solid #fff;

    & span {
      text-transform: uppercase;
      color: var(--black-color);
    }
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(53rem, 1fr));
    gap: 2rem;

    & img {
      flex: 1 1 45rem;
      width: 100%;
      object-fit: cover;
    }

    .about-article {
      & h2 {
        color: #fff;
        font-size: 3rem;

      }

      & p {
        line-height: 1.8;
        padding: 1.6rem 0;
        color: #ccc;
        font-size: 1.6rem;

      }
    }
  }
}

/* ! About Section End  */
/* ! Customer Section Start  */
.customer-section {
  & h1 {
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: .1rem solid #fff;

    & span {
      text-transform: uppercase;
      color: var(--black-color);
    }
  }

  .customer-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 3rem 2rem;

    .customer-card {
      text-align: center;
      background-color: #fff;
      border-radius: 3rem;
      padding: 2rem 0;

      .article-box {
        font-size: 1.5rem;
        line-height: 1.8;
        align-items: center;
        color: var(--black-color);
        padding: 2rem;

        &+img {
          width: 7rem;
          border-radius: 50%;
          margin: 1.8rem 0;
        }

      }

      & h2 {
        font-size: 2rem;
        color: var(--main-color);
      }

      .stars-container i {
        color: gold;
        font-size: 1.5rem;
      }
    }
  }
}

/* ! Customer Section End  */

/* ! Contact Section Start  */
.contact-section {
  & h1 {
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: .1rem solid #fff;

    & span {
      text-transform: uppercase;
      color: var(--black-color);
    }
  }

  .contact-container {
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 1rem;

    & iframe {
      flex: 1 1 45rem;
      width: 100%;
      object-fit: cover;
    }

    & form {
      flex: 1 1 45rem;
      padding: 5rem 2rem;
      text-align: center;

      & h3 {
        text-transform: uppercase;
        font-size: 3.5rem;
        color: #fff;
      }

      .inputBox {
        display: flex;
        align-items: center;
        margin: 2rem 0;
        border: var(--border);

        & i {
          font-size: 2rem;
          color: #fff;
          padding-left: 2rem;
        }

        & input {
          width: 100%;
          padding: 2rem;
          font-size: 1.7rem;
          color: #fff;
          text-transform: none;
          background-color: transparent;
        }


      }

      & .btn {
        color: var(--main-color);
        background-color: #fff;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

/* ! Contact Section End  */

/* !Blog Section Start */
.blog-section {

  & h1 {
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: .1rem solid #fff;

    & span {
      text-transform: uppercase;
      color: var(--black-color);
    }
  }

  .blog-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;



    .blog-card {
      background-color: #fff;
      border-radius: 3rem;

      .content {
        padding: 2rem;

        .title {
          font-size: 2.5rem;
          line-height: 1.5;
          color: var(--black-color);
        }

        & span {
          display: block;
          padding-top: 1rem;
          font-size: 2rem;
        }

        & p {
          font-size: 1.6rem;
          line-height: 1.8;
          color: #ccc;
          padding: 1rem 0;
        }
      }

      .image {
        height: 25rem;
        overflow: hidden;
        width: 100%;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;

        & img {
          height: 100%;
          object-fit: cover;
          width: 100%;

        }
      }

      &:hover .image img {
        transform: scale(1.2);
      }
    }
  }
}

/* !Blog Section End */



/* !Footer Section Start */
.footer {
  background-color: var(--black-color);
  text-align: center;

  .search {
    display: flex;
    justify-content: center;

    .search-input {
      width: 30rem;
    }

    .btn-primary {
      background-color: var(--main-color);
      padding: 1rem 2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }

  .share {
    padding: 2rem 0;

    & a {
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      color: #fff;
      font-size: 2rem;
      border: var(--border);
      border-radius: 50%;
      margin: .3rem;

      &:hover {
        background-color: var(--main-color);
      }
    }
  }

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    & a {
      background-color: var(--main-color);
      padding: .7rem 2rem;
      color: #fff;
      font-size: 2rem;
      border: var(--border);

      &.active {
        background-color: var(--black-color);
      }

      &:hover {
        background-color: var(--black-color);
        opacity: .7;
      }
    }
  }
  .credit {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  padding-top: 1.5rem;

  & span {
  color: var(--main-color);
  }
  }
}

/* !Footer Section End */